.keyboard {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 10px 20px 10px;
    box-sizing: border-box;
    border: 5px solid black;
    border-radius: 5px;
    background-color: #888888;
    & > * {
      user-select: none;
    }
  }

  .keyboard-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
  }
